body, html
{
	width: 100%;
	height: 100%;
}
#header
{
	width: 100%;
	height: 10%;
	background-color: #000030;
	color: white;
	display: flex;
	font-size: 1.5vw;
}
#left
{
	width: 25%;
	height: 80%;
	display: flex;
	flex: flex-wrap;
}
#logo, #address
{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 2%;
}
#left > :hover
{
	border-style: solid;
	border-color: white;
}
#logo
{
	min-width: 50%;
	max-width: 50%;
	height: auto;
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(19deg) brightness(102%) contrast(105%);
}
#address
{
	display: table;
	min-width: 50%;
	max-width: 50%;
}
#wrapperAdd
{
	display: table-cell;
	vertical-align: middle;
}
#deliver
{
	font-size: 1vw;
	color: #0000DF;
}
#location
{
	font-size: 1.2vw;
}
#right
{
	width: 100%;
	height: 100%;
	margin-left: 1%;
}
#inputLeft
{
	height: 60%;
	width: 7%;
	border: none;
	transform: translateY(0%);
	font-size: 1vw;

	-webkit-appearance: button;
	-webkit-user-select: none;
	-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	border-color: #000030;
	color: #555;
	overflow: wrap;
	text-overflow: ellipsis;
	white-space: nowrap;
}
input
{
	min-width: 60%;
	max-width: 60%;
	font-size: 1vw;
	transform: translateY(0%) translateX(-.8%);
	min-height: 52%;
	padding: 0%;
	max-height: 52%;
}
#right button
{
	min-width: 7%;
	text-align: center;
	height: 60%;
	font-size: 1vw;
	transform: translateY(30%) translateX(-15%);
	border: none;
	background: url('resources/glass.svg') no-repeat center center fixed;
	background-color: white;
}

@media screen and (max-width:700px)
{
	#header
	{
		height: 20%;
		flex-wrap: wrap;

	}
	#logo
	{
		min-width: 20%;
		max-width: 20%;
	}
	#address
	{
		min-width: 20%;
		max-width: 20%;
		background-color: green;
		margin-left: 55%;
	}
	#address div
	{
		font-size: 2vh;
	}
	#left
	{
		width: 100%;
		height: 30%;
	}
	#right
	{
		width: 100%;
		height: 70%;
	}
	input, #inputLeft, #right button
	{
		font-size: 2vh;
	}
}
@keyframes slides
{
	0%
	{
		transform: translateX(0%);
	}
	10%
	{
		transform: translateX(0%);
	}
	20%
	{
		transform: translateX(-100%);
	}
	30%
	{
		transform: translateX(-100%);
	}
	40%
	{
		transform: translateX(-200%);
	}
	50%
	{
		transform: translateX(-200%);
	}
}

#slide
{
	display: flex;
	width: 100%;
	height: 60%;
	font-size: 2vw;
	position: absolute;
	overflow: hidden;
	z-index: -1;
}
#slide div
{
	min-width: 100%;
	text-align: center;
	/*animation: slides 12s ease-in-out 0s infinite;
*/}
#test
{
	z-index: 1;
}
#slide > div
{
	background-repeat: no-repeat;
    background-size: 100%;

}
#slide button
{
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 3%;
	font-size: 5vh;
	background-color: transparent;
	color: orange;
	border: none;
}
#forward
{
	left: 97%;
}
#slide div:nth-child(1)
{
}
#slide div:nth-child(2)
{
	background-color: green;
}
#slide div:nth-child(3)
{
	background-color: orange;
}
#slide div:nth-child(4)
{
	background-color: blue;
}
#slide div:nth-child(5)
{
	background-color: pink;
}