<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 	
		<!--
			<link rel = "stylesheet" href = "style.css">
			<link rel = "stylesheet" href = "search.css"> 
		!-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/style.css') }}">
       	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/search.css') }}">
		<script src = "{{url_for('static', filename = 'javascript/script.js')}}"></script>
		<script>
			{% autoescape off %}
				list = {{ ret['display'] }};
				names = {{ ret['names'] }};
			{% endautoescape %}
		</script>
        <style>
        </style>
        
    </head>
    <body onload = "resultDisplay();">
        <!-- <div id = "grid">
            <section class="container">
                <form>
                    <i class="fas fa-search"></i>
                    <input type="text" name="" id="search-item" placeholder="Search">
                </form>
            </section>
        </div> -->
		<div id = "header">
			<!-- https://codepen.io/sosuke/pen/Pjoqqp figure out what color we want for logo !-->
			<div id = "left">
				<a href="{{ url_for('home') }}">
					<img src = "{{url_for('static', filename = 'resources/logo.svg')}}" id = "logo">
				</a>
				<a href="{{ url_for('profile') }}">
					<div id = "address">
						<div id = "wrapperAdd">
							<div id = "deliver">Hello, {{ ret['username'] }}</div>
							<div id = "location">Account and Lists</div>
						</div>
					</div>
				</a>
			</div>
			<div id = "right">
				<select name = "cars" id = "inputLeft">
					<option value="all">All</option>
				</select>		
				<form id = "form" action = "{{ url_for('search') }}" method="post">
					<input type = "text" name = "value" id = "input" placeholder = "Type in what you wish for"></input>
					<input id = "search" type = "submit" value = "" name = "b">
				</form>			
				<button id = "logout" type="button" onclick = "window.location.href = '{{ url_for( 'logout' ) }}';">Logout</button>
			</div>
		</div>
        <section id="product1" class="section-p1">
            <div id = "r" class ="pro-container">

            </div>
        </section>
    </body>
</html>

